<div>
  <!-- Date picker on the top of the page -->
  <h1>Data Items</h1>
  @for (item of items; track item) {
    <p>{{ item }}</p>
  }
  <button (click)="addNewItem4()">Add Item</button>

<app-app-paginated-list></app-app-paginated-list>

<h2>Date Picker</h2>
<app-date-picker></app-date-picker>

<button (click)="openModal()">Open Modal</button>

<app-modal [isOpen]="isModalOpen" (closeModal)="closeModal()" title="Example Modal">
  <p>This is the content of the modal. You can put any HTML here.</p>
  <button (click)="closeModal()">Close</button>
</app-modal>

<router-outlet></router-outlet>
  <!--Modal for adding new item-->
  <div>
    <h1>Data Items</h1>
    <!--html 5 syntax for loop-->
    @for (item of items3; track item) {
      <p>{{ item }}</p>
    }
    <button (click)="addNewItem3()">Add Item</button>
  </div>
  <app-app-paginated-list></app-app-paginated-list>
  <router-outlet></router-outlet>

  <button (click)="openModal()">Open Modal</button>

  <app-modal [isOpen]="isModalOpen" (closeModal)="closeModal()" title="Example Modal">
    <p>This is the content of the modal. You can put any HTML here.</p>
    <button (click)="closeModal()">Close</button>
  </app-modal>

  <!-- Pagination list-->
  <div>
    <h1>Data Items</h1>
    <!--html 5 syntax for loop-->
    @for (item of items2; track item) {
      <p>{{ item }}</p>
    }
    <button (click)="addNewItem2()">Add Item</button>
  </div>
  <app-app-paginated-list></app-app-paginated-list>
  <router-outlet></router-outlet>

  <!--Todo list-->
  <h1>Todo List</h1>
  <app-todo-list></app-todo-list>


  <!-- User Registration Form -->
   <h1>User Registration Form</h1>
   <app-user-form></app-user-form>
<h1>Data Items</h1>
<!--html 5 syntax for loop-->
    @for (item of items; track item) {
      <p>{{ item }}</p>
    }
    <button (click)="addNewItem()">Add Item</button>
    </div>
    <router-outlet></router-outlet>